img {
  width: 500px;
  height: 300px;
  border: 6px solid rgba(128, 128, 128, 0.432);
}
* {
  margin: 0;
  padding: 0;
}
#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
button {
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 7px;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
  margin-left: 8px;
}
div {
  padding: 10px;
}

label {
  font-size: 22px;
  vertical-align: middle;
}
input {
  margin-left: 4px;
}
input[type='text'] {
  padding: 4px;
}

#spinner:not([hidden]) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: '';
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
